@{
    ViewData["Title"] = "Contact Page";
}


<section class="contact--section" id="contact">
    <h2 class="h-2">Get In Touch</h2>
    <p>
        Feel free to reach out if you're looking for a front end developer, have a question or just fancy saying hi.
    </p>
    <a class="mail" href="#" target="_blank" rel="noopener noreferrer">hi@mannypulator.me</a>
</section>
