@{
    ViewData["Title"] = "Home Page";
}


<!-- HERO SECTION -->
<section class="hero" id="hero">
    <div class="hero__container">
        <div class="hero__photo">
            <div class="hero__photo--box">
                <div class="photo"></div>
            </div>
        </div>
        <div class="hero__details">
            <h1 class="h-1">
                <span class="fadeIn--1">Hello there 👋</span><br />
                <span class="fadeIn--2">I'm Emmanuel Imion</span><br />
                <span class="fadeIn--3">A Junior FullStack Developer</span>
            </h1>
            <a href="#about" class="scroll-down">
                Scroll down
                <svg class="scroll-svg" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                     stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M19 14l-7 7m0 0l-7-7m7 7V3">
                    </path>
                </svg>
            </a>
        </div>
    </div>
</section>

<!-- ABOUT SECTION -->
<section class="about--section" id="about">
    <h2 class="h-2">About Me</h2>
    <div class="about">
        <div class="about__col--1">
            <p>
                I am a self-taught front end developer looking for a role in an exciting company. I focus on writing accessible HTML, using modern CSS practices and Javascript.
            </p>
            <p>
                When writing JavaScript, I prefer React but open to adopting whichever framework is required. I also have experience working with Bootstrap, Tailwind CSS, Sass , C#, ASP.NET and Node.js.
            </p>
            <p>
                Aside from being a passionate developer, i am also a passionate science teacher. I also enjoy reading, playing and watching football, making designs and art. I am very passionate about developing myself daily!
            </p>
        </div>
        <div class="about__col--2">
            <a class="btn btn--blue resume--pc" href="resume.html" target="_blank" rel="noopener noreferrer">
                View Resume
            </a>
            <a class="btn btn--blue resume--mobile" href="Emmanuel-Imion-resume.pdf" target="_blank" rel="noopener noreferrer">
                View Resume
            </a>
        </div>
    </div>
</section>
