
@{
    ViewData["Title"] = "Resume Page";   
}

<div class="resume container">
        <header>
            <h1 class="resume__heading">
                <span>Emmanuel</span>
                <span>Adesola</span>
                <span>Imion</span>
            </h1>
            <p class="resume__subheading">
                I'm a creative frontend developer with a serious passion for designing and building quality, accessible and  user-friendly websites and web apps.
            </p>
            <a href="https://docs.google.com/document/d/1VFSxcvPyuiYez5iOXExX6cxg3cbaxI4E/edit?usp=sharing&ouid=105025517979878807914&rtpof=true&sd=true" target ="_blank" class="resume__download" download>
                <span>View Resume</span>
            </a>
        </header>

        <section class="section stack">
            <h2 class="section__title">Stack.</h2>
            <div class="section__inner">
                <h3>Core Tech:</h3>
                <ul>
                    <li>Javascript</li>
                    <li>CSS</li>
                    <li>SCSS</li>
                    <li>Bootstrap</li>
                    <li>Tailwind CSS</li>
                    <li>HTML</li>
                    <li>Node js</li>
                    <li>C#</li>
                    <li>ASP.Net Core</li>
                    <li>React</li>
                </ul>
            </div>
            <div class="section__inner">
                <h3>Familiar With:</h3>
                <ul>
                    <li>jQuery</li>
                    <li>Wordpress</li>
                </ul>
            </div>
            <div class="section__inner">
                <h3>On The Job:</h3>
                <ul>
                    <li>Responsive Design</li>
                    <li>Version Control (Git)</li>
                    <li>Javascript best practices, clean code and ES6+ knowledge.</li>
                </ul>
            </div>
            <div class="section__inner">
                <h3>Platforms:</h3>
                <ul>
                    <li>Github</li>
                    <li>Netlify</li>
                </ul>
            </div>
        </section>

        <section class="section">
            <h2 class="section__title">Projects.</h2>
            <div class="section__inner">
                <h3><a href="projects/bakery.html">Bakery</a></h3>
                <ul>
                    <li>A multi-page website built for a local bakery.</li>
                    <li>Built with HTML, CSS, Javascript and Scroll Reveal</li>
                    <li>Side project</li>
                </ul>
            </div>
            <div class="section__inner">
                <h3><a href="projects/photosnap.html">Photosnap</a></h3>
                <ul>
                    <li>A web design project for a photo agency.</li>
                    <li>Built with HTML, SCSS & Javascript</li>
                    <li>Frontend challenge</li>
                </ul>
            </div>
            <div class="section__inner">
                <h3><a href="projects/uplant.html">Uplant</a></h3>
                <ul>
                    <li>A landing page for a plants shop.</li>
                    <li>Built with HTML, SCSS & Javascript</li>
                    <li>Design to Code</li>
                </ul>
            </div>
            <div class="section__inner">
                <h3><a href="projects/furnish.html">Furnish</a></h3>
                <ul>
                    <li>An e-commerce website for a furniture and interior decoration agency.</li>
                    <li>Built with HTML, CSS & Javascript</li>
                    <li>Side project</li>
                </ul>
            </div>
            <div class="section__inner">
                <h3><a href="projects/la-hotel.html">La Hotel</a></h3>
                <ul>
                    <li>A website design project for a hotel.</li>
                    <li>Built with HTML, CSS & Javascript</li>
                    <li>Side project</li>
                </ul>
            </div>
            <div class="section__inner">
                <h3><a href="projects/ear1.html">Ear1</a></h3>
                <ul>
                    <li>A landing page for Ear1</li>
                    <li>Built with HTML, SCSS & Javascript</li>
                    <li>Design to Code</li>
                </ul>
            </div>
            <div class="section__inner">
                <h3><a href="projects/photography.html">Photography</a></h3>
                <ul>
                    <li>A portfolio website for a photographer.</li>
                    <li>Built with HTML, CSS & Bootstrap</li>
                    <li>Side project</li>
                </ul>
            </div>
        </section>
    </div>